/*------------- GENERAL -------------*/
body {
  margin: 0;
}

/*-------- SVG PHOTO KITCHEN---------*/
.cls-2 {
  fill: #ffffff;
}
#shadow,
.addons_container {
  pointer-events: none;
}

svg {
  width: 50vw;
  box-shadow: rgba(128, 128, 128, 0.418) 10px 10px 10px;
}

/*------------- HEADER -------------*/
header {
  display: flex;
  justify-content: space-between;
}

.logo_title {
  display: flex;
  margin-left: 5vw;
  gap: 2vw;
}

.logo {
  width: 3vw;
}

/*-------------- TEXT -------------*/
h1 {
  cursor: pointer;
  font-size: 2rem;
  color: black;
  position: relative;
  text-transform: uppercase;
  font-family: ballinger-condensed, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2 {
  margin-right: 11vw;
  font-family: ballinger-condensed, sans-serif;
  font-weight: 600;
}

h3 {
  font-family: ballinger-condensed, sans-serif;
  font-weight: 100;
  font-size: 1.7rem;
  margin-top: 5vh;
}

.h3_addon {
  margin-top: 0;
}

p {
  font-family: ballinger-condensed, sans-serif;
  font-weight: 100;
  font-size: 2rem;
  margin-top: 1vw;
  margin-bottom: 0;
}

/*---------- SECTION -------------*/
section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

#options {
  margin-right: 10vw;
}

.images_container img {
  position: absolute;
  width: 50vw;

  top: 5.7vw;
  left: 0;
}

.images_container .hide {
  opacity: 0;
}

/* ADD ON'S */

.row1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1vw;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1vw;
}

/* .option img {
  width: 1vw;
  height: auto;
} */

.addons img {
  margin-right: 2vw;
  cursor: pointer;
}

.addons [data-feature="board"] {
  height: 6vw;
}

.addons [data-feature="handles_cobber"] {
  height: 2vw;
}
.addons [data-feature="handles_steel"] {
  width: 5vw;
  padding-bottom: 1vw;
  margin-left: 3vw;
}
.addons [data-feature="knife"] {
  height: 6vw;
}
.addons [data-feature="oven"] {
  height: 6vw;
}
.addons [data-feature="toaster"] {
  height: 6vw;
}

.handles {
  font-size: 1rem;
  margin-bottom: 1vw;
}

.handles_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#color_wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5vw;
}
/* COLOR-SELECTOR */
.colors {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5vw;
  margin-bottom: 2vw;
  width: 18vw;
}

.color-selector {
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 1.75vw;
  box-shadow: rgba(128, 128, 128, 0.418) 3px 3px;
}

#picker {
  margin-bottom: 2vw;
  margin-top: 2vw;
  cursor: pointer;
}

.IroColorPicker {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1vw;
}

.IroHandle circle {
  stroke: rgb(201, 201, 201);
}
.IroColorPicker svg {
  box-shadow: none;
}
.IroWheelBorder {
  box-shadow: rgba(128, 128, 128, 0.418) 3px 3px;
}
.IroSliderGradient {
  box-shadow: rgba(128, 128, 128, 0.418) 3px 3px;
}

/* CLEAR BUTTON  AND SAVE BUTTON*/

#buttons {
  display: flex;
  gap: 2vw;
}
.button {
  width: 12vw;
  height: 4vw;
  background-color: white;
  border: solid black 1px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: ballinger-condensed, sans-serif;
  font-weight: 100;
  padding: 10px 0px;
  cursor: pointer;
  align-items: center;
  margin-top: 4vh;
}

.button img {
  width: 2vw;
}
.button_clear:hover {
  box-shadow: rgba(128, 128, 128, 0.418) 3px 3px;
}

.button_save:hover {
  box-shadow: rgba(128, 128, 128, 0.418) 3px 3px;
}
.button_save img {
  width: 3vw;
  align-items: center;
}
/*-------- SELECTED --------*/
#selected {
  margin-left: 5vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

.option_logo {
  width: 4vw;
}

#selected ul {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-content: center;
  gap: 2vw;
  padding-left: 0;
}

.selected_option {
  width: 4vw;
  height: 4vw;
}
/* .selected_option::after {
  content: "+";
} */

.selected_option img {
  max-height: 100%;
  max-width: 4vw;
}

.price {
  grid-column: 2;
  grid-row: 2;
  margin-left: 5vw;
  display: flex;
  gap: 3vw;
}

.cls-2:hover {
  opacity: 80%;
  stroke: rgb(247, 73, 73);
  stroke-width: 10px;
}

path {
  cursor: url(icons/1x/paint.png), auto;
}

.colors {
  cursor: pointer;
}

.chosen {
  filter: opacity(50%);
}
